body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-color: hsl(230, 100%, 99%);
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: hsl(225, 20%, 60%);
}

nav {
  height: 180px;
  background-image: url("images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
  margin-top: 40px;
}
h1 {
  font-weight: 800;
  font-size: 1.5em;
  color: hsl(227, 35%, 25%);
}
p {
  line-height: 1.5rem;
}

main {
  margin-top: 20px;
  width: 90vw;
  max-width: 400px;
  background-color: hsl(230, 100%, 99%);
  border-radius: 10px;
  box-shadow: 0px 10px 20px hsl(224, 65%, 95%);
}

input {
  height: 40px;
}

h2 {
  letter-spacing: 0.1rem;
  padding-top: 40px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

#amount {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  font-size: 2rem;
  padding-right: 5px;
}

#discountPercent {
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  border-radius: 35px;
  font-size: 1rem;
  padding: 4px 8px;
  margin-left: 5px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#check {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: hsl(223, 50%, 87%);
  display: block;
  border-radius: 100px;
  position: relative;
  margin: 0 5px;
}

#check:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #check {
  background: hsl(174, 86%, 45%);
}

input:checked + #check:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#check:active:after {
  width: 20px;
}

.perks {
  margin-top: 40px;
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid hsla(222, 49%, 87%, 0.5);
}

li {
  padding: 5px 0;
}

button {
  margin-bottom: 30px;
  padding: 15px 60px;
  border-radius: 30px;
  border: none;
  background-color: hsl(227, 35%, 25%);
  color: hsl(223, 50%, 87%);
  font-weight: 600;
}

button:hover {
  color: white;
  cursor: pointer;
}

.attribution {
  margin-top: 40px;
}

#discountText {
  display: none;
}
@media (min-width: 700px) {
  main {
    max-width: 700px;
  }
  #discountText {
    display: block;
    margin-left: 10px;
  }

  #discountPercent {
    padding: 4px 8px;
    margin-left: 5px;
  }
}
